*{
	padding: 0;
	margin: 0;
}
.box{
	width: 500px;
	height: 260px;
	margin: 100px auto;
	position: relative;
	overflow: hidden;
	border: 1px solid red;
}
.box1{
	width: 500px;
	height: 200px;
	border: 1px solid green;
}
}
img{
	position: absolute;
	width: 500px;
	height: 200px;
	top:0;
	left: 0;
}
#btn{
	text-align: center;
	padding-top: 25px;
}
#prev,#next{
	position: absolute;
	top:50%;
	margin-top: -30px;
	background-color:red;
	opacity: 0.5;
	width: 30px;
	height: 35px;
	cursor: pointer;
}
#prev{
	left: 0;
}
#next{
	right: 0;
}
